*{
    margin: 0;
}
body{
   background-color:#1b0711 ; 
}
html::-webkit-scrollbar {
    display: none;
}





.navbar, .botonera{
    display: flex;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to bottom, #1b0711, rgba(0,0,0,0));
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.icon{
    padding-left: 1em;
    width: 5.2em;
    height: 5.2em;
}
.botonera {
gap: 2em;
list-style: none;
}
.botonera li a{
    color: aliceblue;
    text-decoration: none;
}


.imgParallax{
    display: flex;
    align-self: center;
    justify-content: center;
}
.imgParallax img{
    position: absolute;
    width: 100%;
}
#capa1{
    position: relative;
}


.capa{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
}
.capa1{
    background-image: url(../img/Parallax/FondoC1.png);
}
.capa2{
    background-image: url(../img/Parallax/LunaC2.png);
}
.capa3{
    background-image: url(../img/Parallax/NubesC3.png);
}
.capa4{
    background-image: url(../img/Parallax/CastilloC4.png);
}
.capa5{
    background-image: url(../img/Parallax/CiudadC5.png);
}
.capa6{
    background-image: url(../img/Parallax/CiudadC6.png);
}
.capa7{
    background-image: url(../img/Parallax/CiudadC7.png);
}
.capa8{
    background-image: url(../img/Parallax/CiudadC8.png);
}

.descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descripcion img{
    width: 5em;
}
.descripcion h1{
    color:#FFD6EB
}