*{
    margin: 0;
}
body{
   background-color:#1b0711 ; 
}
html::-webkit-scrollbar {
    display: none;
}





.navbarh, .botonera{
    display: flex;
}
.navbarh{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to bottom, #1b0711, rgba(0,0,0,0));
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.icon{
    padding-left: 1em;
    width: 5.2em;
    height: 5.2em;
}
.botonera {
gap: 2em;
list-style: none;
}
.botonera li a{
    color: aliceblue;
    text-decoration: none;
}


.imgParallax{
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}
.imgParallax img{
    position: absolute;
    width: 100%;
}
#capa1{
    position: relative;
}


.capa{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
}
.capa1{
    background-image: url(../img/Parallax/FondoC1.png);
}

.capa2{
    background-image: url(../img/Parallax/LunaC2.png);
    transform-origin: 50% 33.73%;
    animation: linear 20s girar infinite;
}
@keyframes girar {
    0%{
        transform:scale(1) rotate(0deg);}
    50%{
        transform: scale(1.1)rotate(180deg); ;}
    100%{
        transform: scale(1) rotate(360deg);}
}
.capa3{
    background-image: url(../img/Parallax/NubesC3.png);
    animation: linear 10s nube infinite;
}
@keyframes nube {
    0%{transform:scaleX(1) ;}
    50%{transform: scaleX(1.1);}
    100%{transform: scaleX(1);}
}
.capa4{
    background-image: url(../img/Parallax/CastilloC4.png);
}
.capa5{
    background-image: url(../img/Parallax/CiudadC5.png);
}
.capa6{
    background-image: url(../img/Parallax/CiudadC6.png);
}
.capa7{
    background-image: url(../img/Parallax/CiudadC7.png);
}
.capa8{
    background-image: url(../img/Parallax/CiudadC8.png);
    background-repeat: repeat-x;
    animation: linear 30s mover infinite;

}
@keyframes mover {
    0%{background-position-x:0px ;}
    100%{background-position-x: 1920px;}
}
.capa9{
    background-image: url(../img/Parallax/VinC9.png);
    animation: linear 5s vin infinite;
}
@keyframes vin {
    0%{transform:scale(1) ;}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}

.descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descripcion img{
    width: 5em;
}
.descripcion h1{
    color:#FFD6EB
}


