*{
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-color: #1F1250;
}
section{
    color: white;
  }

/*Header*/
.icon{
    width: 5.2em;
    height: 5.2em;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding-inline: 1em;
    align-items: center;
    background-color: #190F41;
}

.botonera{
    display: none;
}
.userlogo{
    height: 4em;
    width: 4em;
}



@media (min-width: 769px){
    .botonera{
        display: flex;
        gap: 1.3em;
    }
    .catLogo{
        height: 2.5em;
        width: 2.5em;
    }
    .navbar{
        padding-inline: 2em;
    }
    .nav-btn{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0.3em 0.5em 0.3em 0.3em;
        gap: 0.2em;

        background: radial-gradient(50% 50% at 50% 50%, rgba(94, 55, 165, 0.21) 0%, rgba(94, 55, 165, 0.53) 20.83%, #5E37A5 100%);
        background-size: cover  ;

        border: 2px solid;
        border-radius: 5px;
    }
    .botonera a{
        text-decoration: none;
        color: black;
    }
}

/*ColoresBtn*/
.aventuranav{
    border-color: rgba(0, 255, 10, 1);    
}
.aventuratext{
    filter: drop-shadow(0px 0px 6px rgba(0, 255, 10, 1));
}
.accionnav{
    border-color: rgba(250, 0, 255, 1)
}
.acciontext{
    filter: drop-shadow(0px 0px 6px rgba(250, 0, 255, 1));
}
.casualnav{
    border-color: rgba(0, 255, 255, 1);
}
.casualtext{
    filter: drop-shadow(0px 0px 6px rgba(0, 255, 255, 1));
}
.carrerasnav{
    border-color: rgba(255, 0, 0, 1);
}
.carrerastext{
    filter: drop-shadow(0px 0px 6px rgba(255, 0, 0, 1));
}
.deportesnav{
    border-color: rgba(255, 138, 0, 1);
}
.deportestext{
    filter: drop-shadow(0px 0px 6px rgba(255, 138, 0, 1));
}


/*Footer*/
footer{
    background-color: #120B2A;
    margin: 0%;
    color: white;
    width: 100%;
    bottom: 0;
}
footer h1{
 padding-left: 1em;
 padding-bottom: 0.5em;

}
footer li{
    justify-content: space-around;
    font-size: 1em;
    padding-bottom: 1em;  
    list-style: none;
}
.container{
    display: flex;
    justify-content: space-between;
    padding-inline: 2em;
}
.copyright{
    background-color: #080416;
    display: flex;
    align-content: center;
    justify-content: center;
}
.redes{
    padding: 2em;
    display: flex;
    justify-content: space-around;
}
.redes img{
    width: 15em;
}

/*Carrusel*/
.carrusel{
    padding-block: 1px;
 

}
.carrusel .portada{
    width: auto;
    margin-left: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.juegos{
    width: 150px;
    height: 200px;
}
.juegos-p{
    width: 150px;
    height: 200px;
    filter: opacity(0.7);
}

.jugar{
    display: none;
}

.boxe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 0ch;
}
.boxe:hover{
    width: min-content;
}

.boxe:hover .juegos{
    transform: scale(1.09);
    filter: blur(1px);

}

.boxe:hover .jugar{
    display: block;
    background-color: grey;
    color: yellow;
    position: fixed;
    bottom: 0%;
    padding: 0%;
    margin: 0%;
}
.free .dolar{
    display: none;
}
.dolar{
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 1;
}
.boxe:hover .dolar{
    display: none;
}
/*Hero*/
.hero-container{
    width: 100%;
    height: 450px;
}

.hero{
    width: 100%;
    height: 100%;
}
.heroh{
    display: flex;
    flex-flow: row;
    position: absolute;
    z-index: 1;
}
/*
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    display: inline-block;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  */

  /* Cuatro en linea*/
.bread {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.bread p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding-left: 15px;
}
.game-title{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.titulo{
    font-size: 3em;
}
.game-pic{
    width: 100%;
    height: 100%;
}
.juego{
    width: 100%;
    height: 100%;
}
.game-story{
    display: flex;
    justify-content: center;
    margin: 1em;
}
.game-story p{
    font-size: 20px;
}
.carru4il{
    width: 250px;
    height: 250px;
}
.boxe:hover .carru4il{
    transform: scale(1.09);
}