*{
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-color: #1F1250;
}
section{
    color: white;
  }

/*Header*/
.icon{
    width: 5.2em;
    height: 5.2em;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding-inline: 1em;
    align-items: center;
    background-color: #190F41;
}

.botonera{
    display: none;
}
.userlogo{
    height: 4em;
    width: 4em;
}
button{
    background: none;
    border: none;
}
.boton{
    transition: transform 0.5s;
}
.boton:hover{
    transform: scale3d(1.3, 1.3, 1.3);
}



@media (min-width: 769px){
    .botonera{
        display: flex;
        gap: 1.3em;
    }
    .catLogo{
        height: 2.5em;
        width: 2.5em;
    }
    .navbar{
        padding-inline: 2em;
    }
    .nav-btn{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0.3em 0.5em 0.3em 0.3em;
        gap: 0.2em;

        background: radial-gradient(50% 50% at 50% 50%, rgba(94, 55, 165, 0.21) 0%, rgba(94, 55, 165, 0.53) 20.83%, #5E37A5 100%);
        background-size: cover  ;

        border: 2px solid;
        border-radius: 5px;
    }
    .botonera a{
        text-decoration: none;
        color: black;
    }
}

/*ColoresBtn*/
.aventuranav{
    border-color: rgba(0, 255, 10, 1);    
}
.aventuratext{
    filter: drop-shadow(0px 0px 6px rgba(0, 255, 10, 1));
}
.accionnav{
    border-color: rgba(250, 0, 255, 1)
}
.acciontext{
    filter: drop-shadow(0px 0px 6px rgba(250, 0, 255, 1));
}
.casualnav{
    border-color: rgba(0, 255, 255, 1);
}
.casualtext{
    filter: drop-shadow(0px 0px 6px rgba(0, 255, 255, 1));
}
.carrerasnav{
    border-color: rgba(255, 0, 0, 1);
}
.carrerastext{
    filter: drop-shadow(0px 0px 6px rgba(255, 0, 0, 1));
}
.deportesnav{
    border-color: rgba(255, 138, 0, 1);
}
.deportestext{
    filter: drop-shadow(0px 0px 6px rgba(255, 138, 0, 1));
}


/*Footer*/

footer{
    background-color: #120B2A;
    margin: 0%;
    color: white;
    width: 100%;
    bottom: 0;
}
.copyright{
    background-color: #080416;
    display: flex;
    align-content: center;
    justify-content: center;
}
.redes{
    padding: 2em;
    display: flex;
    justify-content: space-around;
}
.redes a img{
    width: 2.5em;
    height: 2.5em;
    padding-block: 0.5em;
}
.twitter{
    background: radial-gradient(50% 50% at 50% 50%, #8DDFFF 0%, #00ACEE 100%);
}
.instagram{
    background: radial-gradient(50% 50% at 50% 50%, #FB96B8 0%, #E1306C 100%); 
}
.instagram, .twitter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15em;
    border-radius: 60px;
    text-decoration: none;
    color: white;
}
@media (min-width: 375px){
    .redes a img{
        width: 3.5em;
    height: 3.5em;
    }
}
@media (min-width: 769px){

footer h1{
 padding-left: 1em;
 padding-bottom: 0.5em;

}
footer li{
    justify-content: space-around;
    font-size: 1em;
    padding-bottom: 1em;  
    list-style: none;
}
.container{
    display: flex;
    justify-content: space-between;
    padding-inline: 2em;
}}
/*Carrusel*/
.carrusel .portada{
    width: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.juegos{
    width: 150px;
    height: 200px;
}
.juegos-p{
    width: 150px;
    height: 200px;
    filter: opacity(0.7);
}

.jugar, .comprar{
    display: none;
}

.boxe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 0ch;
}
.boxe:hover{
    width: min-content;
}

.boxe:hover .juegos,.boxe:hover .juegos-p{
    transform: scale(1.09);
    filter: blur(1px);

}

.boxe:hover .jugar, .boxe:hover .comprar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 109%;
    height: 16%;
    background: #F2DC40;
    color: black;
    position: fixed;
    bottom: -4%;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    margin: 0%;
    cursor: pointer;
}
.boxe:hover .jugar{
    background: #F2DC40;
}
.boxe:hover .comprar{
    background: #00FF0A;
}
.boxe:hover .quitar{
    background-color: #F54D4D;;
}
.dolar{
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 1;
}
.boxe:hover .dolar{
    display: none;
}
/*Hero*/

.hero-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.hero{
    width: 100%;
    height: 100%;
}
.heroh{
    display: flex;
    flex-flow: row;
    position: absolute;
    z-index: 1;
}
.hero-page{
    width: 100%;
    height: 100%;
}
@media (min-width: 769px){
   .hero-container{
    height: 45%;}

    .hero{
        width: 95%;
        height: 450px;
    }
    .hero-page{
        width: 100%;
        height: 100%;
    }
}

/*
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    display: inline-block;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  */

  /* Cuatro en linea*/
.bread {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.bread p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding-left: 15px;
}
.game-title{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.titulo{
    font-size: 3em;
}
.game-pic{
    width: 100%;
    height: 100%;
}
.juego{
    width: 100%;
    height: 100%;
}
.game-story{
    display: flex;
    justify-content: center;
    margin: 1em;
}
.game-story p{
    font-size: 20px;
}
.carru4il{
    width: 250px;
    height: 250px;
}
.boxe:hover .carru4il{
    transform: scale(1.09);
}
.instrucciones{
    margin: 2em;

}
.instrucciones li{
    padding: 5px;
    font-size: 20px;
}

/*Comentarios*/
.titlecomments{
    display: flex;
    justify-content: space-around;
    padding-left: 0%;
    width: auto;
}
.box-comments{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

form {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;

  }
  
 form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  input{
    margin: 0 45px 0 45px;
  }
  
  label {
    color: grey;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }
.comment{
    width: 65%;
    height: 45px;
}
.comments{
    width: 60%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 25px;
}
.comentario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0 15px 0;
    background-color: #8a8a8a5b
}
.info-user{
    display: flex;
    padding-left: 25px;
    justify-content: space-around;
    align-items: center;
}
.foto-user{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
}
.comment-cont{
    padding: 10px 0 10px 35px;

}

.estre{
    color: gold;
    padding-left: 25px;
}

/*Launch*/
.description{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-image: url("img/espacio.jpg");

}
.historia{
    margin: 60px;
}
.description img{
    width: 60%;
}

