*{
    margin: 0;
}

/*Header*/
.icon{
    width: 5.2em;
    height: 5.2em;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding-inline: 1em;
    align-items: center;
    background-color: #190F41;
}

.botonera{
    display: none;
}
.userlogo{
    height: 4em;
    width: 4em;
}



@media (min-width: 769px){
    .botonera{
        display: flex;
        gap: 1.3em;
    }
    .catLogo{
        height: 2.5em;
        width: 2.5em;
    }
    .navbar{
        padding-inline: 2em;
    }
    .nav-btn{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 3.5em;
        padding: 0.3em 0.5em 0.3em 0.3em;
        gap: 0.2em;

        background: radial-gradient(50% 50% at 50% 50%, rgba(94, 55, 165, 0.21) 0%, rgba(94, 55, 165, 0.53) 20.83%, #5E37A5 100%);
        background-size: cover  ;

        border: 2px solid;
        border-radius: 5px;
    }
}

/*ColoresBtn*/
.aventuranav{
    border-color: rgba(0, 255, 10, 1);    
}
.aventuratext{
    filter: drop-shadow(0px 0px 6px rgba(0, 255, 10, 1));
}
.accionnav{
    border-color: rgba(250, 0, 255, 1)
}
.acciontext{
    filter: drop-shadow(0px 0px 6px rgba(250, 0, 255, 1));
}
.casualnav{
    border-color: rgba(0, 255, 255, 1);
}
.casualtext{
    filter: drop-shadow(0px 0px 6px rgba(0, 255, 255, 1));
}
.carrerasnav{
    border-color: rgba(255, 0, 0, 1);
}
.carrerastext{
    filter: drop-shadow(0px 0px 6px rgba(255, 0, 0, 1));
}
.deportesnav{
    border-color: rgba(255, 138, 0, 1);
}
.deportestext{
    filter: drop-shadow(0px 0px 6px rgba(255, 138, 0, 1));
}


/*Footer*/
footer{
    background-color: #120B2A;
    margin: 0%;
    color: white;
    width: 100%;
    bottom: 0;
}
footer h1{
 padding-left: 1em;
 padding-bottom: 0.5em;

}
footer li{
    justify-content: space-around;
    font-size: 1em;
    padding-bottom: 1em;  
    list-style: none;
}
.container{
    display: flex;
    justify-content: space-between;
    padding-inline: 2em;
}
.copyright{
    background-color: #080416;
    display: flex;
    align-content: center;
    justify-content: center;
}
.redes{
    padding: 2em;
    display: flex;
    justify-content: space-around;
}
.redes img{
    width: 15em;
}
/*Carrusel*/
.carrusel{
    margin-left: 25px;
    padding-left: 25px;
    position: relative;
    width: auto;
    height: 10%;
    overflow-x: scroll;

}
.carrusel.portada{
    width: auto;
}
.juegos{
    display: flexbox;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}
.juegos-p{
    display: flexbox;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    filter: opacity(0.7);
}

.portada{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 4em;
}
.jugar{
    display: none;
}

.boxe,.free{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}
.boxe:hover .juegos, .free:hover .juegos{
    transform: scale(1.09);
    filter: blur(1px);


}

.boxe:hover .jugar{
    display: block;
    position: absolute;
    background-color: grey;
    color: yellow;
    top: 80%;
    padding: 0%;
    margin: 0%;
}
.free .dolar{
    display: none;
}
.dolar{
    display: flex;
    flex-flow: row;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
}
.boxe:hover .dolar{
    display: none;
}